.editor-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #706e6b;
}

.load-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #c23934;
    gap: 0.5rem;
}

.tinymce-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tinymce-container.hidden {
    display: none;
}

.tinymce-container.visible {
    display: flex;
}

/* TinyMCE overrides for Salesforce styling */
:host .tox-tinymce {
    border-color: #dddbda;
    border-radius: 4px;
}

:host .tox .tox-toolbar {
    background: #f3f3f3;
}

:host .tox .tox-statusbar {
    border-color: #dddbda;
}
