.editor-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #706e6b;
}

.load-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #c23934;
    gap: 0.5rem;
}

.ckeditor-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ckeditor-container.hidden {
    display: none;
}

.ckeditor-container.visible {
    display: flex;
}

.ckeditor-element {
    flex: 1;
}

/* CKEditor styling overrides for Salesforce */
:host .ck.ck-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

:host .ck.ck-editor__main {
    flex: 1;
    overflow: auto;
}

:host .ck.ck-content {
    min-height: 200px;
}

:host .ck.ck-toolbar {
    background: #f3f3f3;
    border-color: #dddbda;
}

:host .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    border-color: #dddbda;
}

:host .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
    border-color: #0070d2;
    box-shadow: 0 0 3px #0070d2;
}
